<div class="flex flex-col max-w-180 md:min-w-100 -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Ajout Abonnement </div>
        <button mat-icon-button (click)="saveAndClose()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <div class="w-full max-w-screen-xl mx-auto">
        <div class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 overflow-hidden">


            <!-- Actions -->
          

        <!-- Main -->
        <div class="example-container">
        <form class=" overflow-hidden" [formGroup]="horizontalStepperForm">

            <mat-form-field class="w-full">
                <mat-label>libelle</mat-label>
                <input
                    id="username"
                    matInput
                    [formControlName]="'libelle'" 
                    [placeholder]="'libelle'"
                    >
                <mat-error *ngIf="horizontalStepperForm.get('libelle').hasError('required')">
                    Ce champ est obligatoire
                </mat-error>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>description</mat-label>
                    <textarea
                        id="description"
                        matInput
                        [formControlName]="'description'" 
                        [placeholder]="'description'">
                    </textarea>
                    <mat-error *ngIf="horizontalStepperForm.get('description').hasError('required')">
                        Ce champ est obligatoire
                    </mat-error>
                    </mat-form-field>
            <mat-form-field class="w-full">                        
                <mat-label>tarif</mat-label>
                <input
                    id="tarif"
                    matInput
                    [formControlName]="'tarif'" 
                    [placeholder]="'tarif'"
                    type="number">
                <mat-error *ngIf="horizontalStepperForm.get('tarif').hasError('required')">
                    Ce champ est obligatoire
                </mat-error>
            </mat-form-field>

            <mat-form-field class="w-full">                        
                <mat-label>duree</mat-label>
                <input
                    id="duree"
                    matInput
                    [formControlName]="'duree'" 
                    [placeholder]="'duree'"
                    type="number">
                <mat-error *ngIf="horizontalStepperForm.get('duree').hasError('required')">
                    Ce champ est obligatoire
                </mat-error>
            </mat-form-field>

            <div class="sm:col-span-2">
                <mat-form-field [floatLabel]="'always'" class="flex-auto w-full">
                    <mat-label>Date Debut</mat-label>
                    <input matInput [matDatepicker]="picker" [placeholder]="'jj/mm/aaaa'" [formControlName]="'dateDebut'">
                    <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="sm:col-span-2">
                <mat-form-field [floatLabel]="'always'" class="flex-auto w-full">
                    <mat-label>Date Expiration</mat-label>
                    <input matInput [matDatepicker]="picker1" [placeholder]="'jj/mm/aaaa'" [formControlName]="'dateExpiration'">
                    <mat-datepicker-toggle matPrefix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>

            <!-- <mat-form-field class="w-full">                        
                <mat-label>dateDebut</mat-label>
                <input
                    id="dateDebut"
                    matInput
                    [formControlName]="'dateDebut'" 
                    [placeholder]="'dateDebut'"
                    type="number">
                <mat-error *ngIf="horizontalStepperForm.get('dateDebut').hasError('required')">
                    Ce champ est obligatoire
                </mat-error>
            </mat-form-field> -->

                <div class="flex flex-auto">
                    <button class="px-8" mat-flat-button color="primary"
                    [disabled]="horizontalStepperForm.disabled || horizontalStepperForm.pristine || horizontalStepperForm.invalid"

                    (click)="create()"
                        
                        type="button" >
                        <span *ngIf="!horizontalStepperForm.disabled">
                            Créer
                        </span>
                        <mat-progress-spinner *ngIf="horizontalStepperForm.disabled" [diameter]="24"
                            [mode]="'indeterminate'">Chargement</mat-progress-spinner>
                    </button>
                </div>
        </form>
    </div>
</div>    
</div>
</div>      

