<div class="flex flex-col flex-auto min-w-0">

    <div class="flex-auto">

        <div
            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b  bg-card">
            <div class="text-3xl font-extrabold tracking-tight">Ajouter une Spécialité</div>
        </div>

        <div class="w-full max-w-screen-xl mx-auto">

            <div class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 overflow-hidden">
            
                <form class=" overflow-hidden" [formGroup]="horizontalStepperForm">

                    <mat-form-field class="w-180">
                        <mat-label>libelle</mat-label>
                        <input
                            id="username"
                            matInput
                            [formControlName]="'libelle'" 
                            [placeholder]="'libelle'"
                            >
                        <mat-error *ngIf="horizontalStepperForm.get('libelle').hasError('required')">
                            Ce champ est obligatoire
                        </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-180">
                            <mat-label>description</mat-label>
                            <textarea
                                id="description"
                                matInput
                                [formControlName]="'description'" 
                                [placeholder]="'description'">
                            </textarea>
                            <mat-error *ngIf="horizontalStepperForm.get('description').hasError('required')">
                                Ce champ est obligatoire
                            </mat-error>
                            </mat-form-field>
                   
                
        
                        <div class="flex flex-auto">
                            <button class="px-8" mat-flat-button color="primary"
                            (click)="create()"
                            [disabled]="horizontalStepperForm.disabled || horizontalStepperForm.invalid"                               
                                type="button" >
                                <span *ngIf="!horizontalStepperForm.disabled">
                                    Créer
                                </span>
                                <mat-progress-spinner *ngIf="horizontalStepperForm.disabled" [diameter]="24"
                                    [mode]="'indeterminate'">Chargement</mat-progress-spinner>
                            </button>
                        </div>
                </form>

               
            </div>
        </div>
    </div>
</div>
