<!-- Button -->
<button
    mat-icon-button
    [matMenuTriggerFor]="userActions">
    <span class="relative">
        <img
            class="w-7 h-7 rounded-full"
            [src]="image?image.url:'assets/images/avatars/default-avatar.png'">
        <!-- <mat-icon
            *ngIf="!showAvatar || !user.avatar"
            [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
        <span
            class="absolute right-0 bottom-0 w-2 h-2 rounded-full"
            [ngClass]="{'mr-px mb-px': !showAvatar || !user.avatar,
                          'bg-green-500': user.status === 'online',
                          'bg-amber-500': user.status === 'away',
                          'bg-red-500': user.status === 'busy',
                          'bg-gray-400': user.status === 'not-visible'}"
        ></span> -->
    </span>
</button>

<mat-menu
    [xPosition]="'before'"
    #userActions="matMenu">
    <button mat-menu-item>
        <span class="flex flex-col leading-none">
            <span>Connecté(e) en tant que</span>
            <span class="mt-1.5 text-md font-medium">{{email}}</span>
        </span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item
    [routerLink]="['/administrateur/boutique/liste']" *ngIf="roles.includes('ROLE_ADMIN')">
        <mat-icon [svgIcon]="'heroicons_outline:cog'"></mat-icon>
        <span>Interface Admin</span>
    </button>
    
    <!-- <button mat-menu-item
    [routerLink]="['/manager/boutiques']" *ngIf="roles.includes('ROLE_MANAGER')">
        <mat-icon [svgIcon]="'heroicons_outline:cog'"></mat-icon>
        <span>Manager Interface</span>
    </button> -->
    <button mat-menu-item
    (click)="parametres()">
        <mat-icon [svgIcon]="'heroicons_outline:cog'"></mat-icon>
        <span>Paramètres</span>
    </button>
    <!-- <button
        mat-menu-item
        [matMenuTriggerFor]="userStatus">
        <mat-icon [svgIcon]="'heroicons_outline:dots-circle-horizontal'"></mat-icon>
        <span>Status</span>
    </button> -->
    <button
        mat-menu-item
        (click)="signOut()">
        <mat-icon [svgIcon]="'heroicons_outline:logout'"></mat-icon>
        <span>Déconnexion</span>
    </button>
</mat-menu>

<!-- <mat-menu
    class="user-status-menu"
    #userStatus="matMenu">
    <button
        mat-menu-item
        >
        <span class="w-4 h-4 mr-3 rounded-full bg-green-500"></span>
        <span>En ligne</span>
    </button>
    <button
        mat-menu-item
        >
        <span class="w-4 h-4 mr-3 rounded-full bg-amber-500"></span>
        <span>Absent(e)</span>
    </button>
    <button
        mat-menu-item
        >
        <span class="w-4 h-4 mr-3 rounded-full bg-red-500"></span>
        <span>Occupé(e)</span>
    </button>
    <button
        mat-menu-item
        >
        <span class="w-4 h-4 mr-3 rounded-full bg-gray-400"></span>
        <span>Invisible</span>
    </button>
</mat-menu> -->