<div class="flex flex-col flex-auto min-w-0">

    <div class="flex-auto">

        <div
            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b  bg-card">
            <div class="text-3xl font-extrabold tracking-tight">Ajouter un Utilisateur</div>
        </div>

        <div class="w-full max-w-screen-xl mx-auto">

            <div class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 overflow-hidden">
            
                <form class=" overflow-hidden" [formGroup]="horizontalStepperForm">

                    <mat-form-field class="w-180">
                        <mat-label>Nom</mat-label>
                        <input
                            id="username"
                            matInput
                            [formControlName]="'username'" 
                            [placeholder]="'username'"
                            >
                        <mat-error *ngIf="horizontalStepperForm.get('username').hasError('required')">
                            Ce champ est obligatoire
                        </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-180">
                            <mat-label>Prénom</mat-label>
                            <input
                                id="lastname"
                                matInput
                                [formControlName]="'lastname'" 
                                [placeholder]="'lastname'">
                            <mat-error *ngIf="horizontalStepperForm.get('lastname').hasError('required')">
                                Ce champ est obligatoire
                            </mat-error>
                            </mat-form-field>
                    <mat-form-field class="w-180">                        
                        <mat-label>Email</mat-label>
                        <input
                            id="email"
                            matInput
                            [formControlName]="'email'" 
                            [placeholder]="'email'">
                        <mat-error *ngIf="horizontalStepperForm.get('email').hasError('required')">
                            Ce champ est obligatoire
                        </mat-error>
                    </mat-form-field>

                        <mat-form-field class="flex-auto w-180">
                            <mat-label>Role</mat-label>
                            <mat-select [formControlName]="'role'" >
                                <mat-option selected > choose </mat-option>
                                <mat-option *ngFor="let role of roles" [value]="role" >
                                  {{role.name}}
                                </mat-option>
                              </mat-select>
                            <mat-error *ngIf="horizontalStepperForm.get('role').hasError('required')">
                                Ce champ est obligatoire
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-180">
                            <mat-label>Mot de passe</mat-label>
                            <input
                                id="password"
                                matInput
                                type="password"
                                [formControlName]="'password'"
                                #passwordField>
                            <button
                                mat-icon-button
                                type="button"
                                (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                                matSuffix>
                                <mat-icon
                                    class="icon-size-5"
                                    *ngIf="passwordField.type === 'password'"
                                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                <mat-icon
                                    class="icon-size-5"
                                    *ngIf="passwordField.type === 'text'"
                                    [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                            </button>
                            <mat-error>
                                Ce champ est obligatoire
                            </mat-error>
                        </mat-form-field>
                        <div class="flex flex-auto">
                            <button 
                            class="px-8" mat-flat-button color="primary"
                            (click)="create()"
                            [disabled]="horizontalStepperForm.disabled || horizontalStepperForm.pristine || horizontalStepperForm.invalid"

                                
                                type="button" >
                                <span *ngIf="!horizontalStepperForm.disabled">
                                    Créer
                                </span>
                                <mat-progress-spinner *ngIf="horizontalStepperForm.disabled" [diameter]="24"
                                    [mode]="'indeterminate'">Chargement</mat-progress-spinner>
                            </button>
                        </div>
                </form>

               
            </div>
            <div>
                <div *ngIf = "id && isAdherent" class="example-container">

                   

            <div class="flex justify-end items-center mt-6 sm:mt-0 sm:ml-4 py-4 px-6 md:px-8">

                <button class="ml-4" mat-flat-button [color]="'primary'" (click)="ajouterAbonnement()">
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="ml-2 mr-1">Ajout</span>
                </button>
            </div>

                    <mat-table [dataSource]="dataSource" matSort>
        
                        <ng-container matColumnDef="dateDebut">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Date debut </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                 {{row.dateDebut}} 
                            </mat-cell>
                        </ng-container>
        
                        <ng-container matColumnDef="dateFin">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Date expiration </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.dateExpiration}}       
                            </mat-cell>
                        </ng-container>
        
                        <ng-container matColumnDef="lastname">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Prenom </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.lastname}}
                            </mat-cell>
                        </ng-container>
        
                        <ng-container matColumnDef="duree">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> duree </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.duree}}
                            </mat-cell>
                        </ng-container>
        
                        <ng-container matColumnDef="libelle">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Libelle </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.libelle}}
                            </mat-cell>
                        </ng-container>
        
                        <ng-container matColumnDef="tarif">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Tarif </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.tarif}}
                            </mat-cell>
                        </ng-container>        
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;">
                        </mat-row>
                    </mat-table>
        
                    <mat-paginator pageSize ="3"></mat-paginator>
                </div>
                <br>
                <br>

            </div>
        </div>
    </div>
</div>
