<!-- emove bg-card to make it transparent -->
<div class="flex flex-col flex-auto min-w-0">

    <div class="flex-auto">


        <div
            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b bg-card">

            <div class="text-4xl font-extrabold tracking-tight">Specialite </div>



        </div>

        <!-- Header -->
        <div
            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <!-- Loader -->
            <!-- <div
        class="absolute inset-x-0 bottom-0"
        *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div> -->
            <!-- Title -->
            <div class="text-2xl font-extrabold tracking-tight">Liste des Specialites </div>


            <!-- Actions -->
            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                <!-- Search -->
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                    <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                    <input matInput (keyup)="applyFilter($event.target.value)" [autocomplete]="'off'"
                        [placeholder]="'Search'">
                </mat-form-field>
                <!-- Add product button -->
                
            </div>
        </div>

        <!-- Main -->
        <div class="example-container">

            <mat-table [dataSource]="dataSource" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="libelle">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> libelle </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.libelle}} </mat-cell>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> description </mat-header-cell>
                    <mat-cell *matCellDef="let row">

                        {{row.description}}

                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button [matTooltip]="'edit'" mat-icon-button type="button" (click)="update(row)">
                            <mat-icon [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                        </button>
                        <button [matTooltip]="'delete'" class="btn" mat-icon-button type="button" (click)="delete(row)">
                        <mat-icon  [svgIcon]="'heroicons_outline:trash'"></mat-icon>

                        </button>
                        
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </mat-table>

            <mat-paginator pageSize ="3"></mat-paginator>
        </div>
    </div>
</div>            

