<div class="flex flex-col flex-auto min-w-0">

    <div class="flex-auto">

        <div
            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b  bg-card">
            <div class="text-3xl font-extrabold tracking-tight">Ajouter un Planning</div>
        </div>

        <div class="w-full max-w-screen-xl mx-auto">

            <div class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 overflow-hidden">
            
                <form class=" overflow-hidden" [formGroup]="horizontalStepperForm">

            <mat-form-field class="flex-auto w-180">
                <mat-label>Salle de Cours</mat-label>
                <mat-select [formControlName]="'salleDeCours'" (selectionChange)="getListSeancesBySalleDeCours($event.value)">
                    <mat-option>   </mat-option>
                    <mat-option *ngFor="let salleCours of listSalleDeCours" [(value)]="salleCours.idSalleCours" >
                      {{salleCours.nomSalle}}
                    </mat-option>
                  </mat-select>
                <mat-error *ngIf="horizontalStepperForm.get('salleDeCours').hasError('required')">
                    Ce champ est obligatoire
                </mat-error>
            </mat-form-field>

            <mat-form-field class="flex-auto w-180">
                <mat-label>Séance</mat-label>
                <mat-select [formControlName]="'seance'">
                    <mat-option>   </mat-option>
                    <mat-option *ngFor="let seance of listSeances" [(value)]="seance.idSeance" >
                      {{seance.libelle}}
                    </mat-option>
                  </mat-select>
                <mat-error *ngIf="horizontalStepperForm.get('seance').hasError('required')">
                    Ce champ est obligatoire
                </mat-error>
            </mat-form-field>



         <!--      <mat-form-field class="w-full">
                    <mat-label>description</mat-label>
                    <textarea
                        id="description"
                        matInput
                        [formControlName]="'description'" 
                        [placeholder]="'description'">
                    </textarea>
                    <mat-error *ngIf="horizontalStepperForm.get('description').hasError('required')">
                        Ce champ est obligatoire
                    </mat-error>
                    </mat-form-field>
            
-->
            <div class="sm:col-span-2">
                <mat-form-field [floatLabel]="'always'" class="flex-auto w-180">
                    <mat-label>Date Planning </mat-label>
                    <input matInput [matDatepicker]="picker" [placeholder]="'jj/mm/aaaa'" [formControlName]="'datePlannif'" >
                    <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div> 

            <div class="sm:col-span-2">
                <mat-form-field [floatLabel]="'always'" class="flex-auto w-180">
                    <mat-label>Heure Début</mat-label>
                    <input matInput [ngxTimepicker]="picker1" [placeholder]="'HH:mm'" [formControlName]="'heureDebut'">
                  <ngx-material-timepicker #picker1></ngx-material-timepicker>
                </mat-form-field>
            </div> 

            <div class="sm:col-span-2">
                <mat-form-field [floatLabel]="'always'" class="flex-auto w-180">
                    <mat-label>Heure Fin</mat-label>
                    <input matInput [ngxTimepicker]="picker2" [placeholder]="'HH:mm'" [formControlName]="'heureFin'">
                  <ngx-material-timepicker #picker2></ngx-material-timepicker>
                </mat-form-field>
            </div> 
            


                <div class="flex flex-auto">
                    <button class="px-8" mat-flat-button color="primary"
                    (click)="create()"
                        
                        type="button" >
                        <span *ngIf="!horizontalStepperForm.disabled">
                            Créer
                        </span>
                        <mat-progress-spinner *ngIf="horizontalStepperForm.disabled" [diameter]="24"
                            [mode]="'indeterminate'">Chargement</mat-progress-spinner>
                    </button>

                    <button class="px-8" mat-flat-button color="primary" style="margin-left: 10px !important;"
                    (click)="annuler()"
                        
                        type="button" >
                        <span *ngIf="!horizontalStepperForm.disabled">
                            Annuler
                        </span>
                        <mat-progress-spinner *ngIf="horizontalStepperForm.disabled" [diameter]="24"
                            [mode]="'indeterminate'">Chargement</mat-progress-spinner>
                    </button>
                </div>
        </form>
    </div>
</div>    
</div>
</div>      

