<div class="flex flex-col max-w-300 md:min-w-180 -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Liste Abonnement </div>
        <button mat-icon-button (click)="saveAndClose()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <div class="w-full max-w-screen-xl mx-auto">

        <!-- Header -->

        <!-- Add border-b for border -->
        <div class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 overflow-hidden">


            <!-- Actions -->
          

        <!-- Main -->
        <div class="example-container">

            <mat-table [dataSource]="dataSource" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="dateDebut">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Date debut </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.dateDebut}} </mat-cell>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="dateFin">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Date expiration </mat-header-cell>
                    <mat-cell *matCellDef="let row">

                        {{row.dateExpiration}}

                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="lastname">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Prenom </mat-header-cell>
                    <mat-cell *matCellDef="let row">

                        {{row.lastname}}

                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="duree">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> duree </mat-header-cell>
                    <mat-cell *matCellDef="let row">

                        {{row.duree}}

                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="libelle">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Libelle </mat-header-cell>
                    <mat-cell *matCellDef="let row">

                        {{row.libelle}}

                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="tarif">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Tarif </mat-header-cell>
                    <mat-cell *matCellDef="let row">

                        {{row.tarif}}

                    </mat-cell>
                </ng-container>


                <!-- <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button [matTooltip]="'edit company'" mat-icon-button type="button" (click)="openDetailsDialog(row)">
                            <mat-icon [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                        </button>
                        <button *ngIf = "row.roles[0].name == 'ROLE_ADHERENT'" [matTooltip]="'list property'" class="btn" mat-icon-button type="button" (click)="openListProperties(row)">
                            <mat-icon [svgIcon]="'heroicons_outline:collection'"></mat-icon>
                        </button>
                        <button [matTooltip]="'delete'" class="btn" mat-icon-button type="button" (click)="openActivate(row)">
                            <mat-icon *ngIf ="row.actif" [svgIcon]="'heroicons_outline:eye'"></mat-icon>
                            <mat-icon *ngIf ="!row.actif" [svgIcon]="'heroicons_outline:eye-off'"></mat-icon>

                        </button>
                        
                    </mat-cell>
                </ng-container> -->

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </mat-table>

            <mat-paginator pageSize ="3"></mat-paginator>
        </div>
    </div>
</div>            

