<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0">
    <div class="w-full sm:w-auto py-8 px-4 sm:p-12 sm:rounded-2xl sm:shadow sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <!-- <div class="w-12 mx-auto">
                rednaks logo here
                <img src="assets/images/logo/logo.svg">
            </div> -->
            <ng-container *ngIf="!error">
                <!-- Title -->
                <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight text-center">Redirection !</div>
                <div class="flex justify-center mt-0.5 font-medium">Vous allez être redirigé vers votre interface</div>

                <div class="flex justify-center mt-0.5 font-medium">

                    <div class="py-8 px-4"
                        style="display: flex; justify-content: center; align-items: center; background: white;">
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="error">

                <div class="flex items-center justify-start  my-6">
                    <div
                        class="flex flex-0 items-center justify-center w-10 h-10 sm:mr-4 rounded-full text-warn-600 bg-warn-100 ng-star-inserted">
                        <mat-icon class="mat-icon notranslate text-current mat-icon-no-color"
                            svgIcon="heroicons_outline:exclamation"></mat-icon>
                    </div>
                    <div class="justify-start">
                        <div class="text-4xl font-extrabold tracking-tight leading-tight">Erreur</div>
                        <div class="flex justify-center mt-0.5 font-medium">Vous n'êtes pas membres d'une boutique ! Consultez l'admin</div>
                    </div>
                </div>

                <!-- Form footer -->
                <div class="mt-8 text-md font-medium text-secondary text-center">
                    <span></span>
                    <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['/sign-out']">Déconnexion
                    </a>
                </div>
            </ng-container>
        </div>
    </div>
</div>