<!-- Navigation -->
<!-- <fuse-vertical-navigation class="bg-card dark:bg-gray-900 print:hidden" [appearance]="'thin'"
    [mode]="isScreenSmall ? 'over' : 'side'" [name]="'mainNavigation'" [navigation]="clientNavigation"
    [opened]="!isScreenSmall"> -->
    <!-- Navigation header hook -->
    <!-- <ng-container fuseVerticalNavigationContentHeader> -->
        <!-- Logo -->
        <!-- <div class="flex items-center justify-center h-20">
            <img class="w-8" src="assets/images/logo/logo.svg" alt="Logo image">
        </div>
    </ng-container>
</fuse-vertical-navigation> -->

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0">

    <!-- Header -->
    <div id="headerNav"
        class="relative flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden">
        <!-- Navigation toggle button -->
        <!-- <button class="mr-2" mat-icon-button (click)="toggleNavigation('mainNavigation')">
            <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
        </button> -->
        <!-- Components -->
        <div class="flex items-center pl-2 ml-auto space-x-1 sm:space-x-2">
            
            <ng-container *ngIf="isConnected">
                <button mat-icon-button [matTooltip]="'Demandes'"  [routerLink]="['/client/acceuil/demandes']" fragment="demandes">
                    <mat-icon [svgIcon]="'heroicons_outline:truck'"></mat-icon>
                </button>
                <button mat-icon-button [matTooltip]="'Contactez-nous'"  [routerLink]="['/client/acceuil/demandes']" fragment="reclamation">
                    <mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
                </button>
                <button mat-icon-button [matTooltip]="'Deconnexion'" [routerLink]="['/client/logout']">
                    <mat-icon [svgIcon]="'heroicons_outline:logout'"></mat-icon>
                </button>
            </ng-container>
            <ng-container *ngIf="!isConnected">
                <button mat-icon-button [matTooltip]="'Contactez-nous'"  [routerLink]="['/client/acceuil']" fragment="reclamation">
                    <mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
                </button>
                <button mat-icon-button [matTooltip]="'Connexion'"  [routerLink]="['/client/acceuil']" fragment="search">
                    <mat-icon [svgIcon]="'heroicons_outline:login'"></mat-icon>
                </button>
            </ng-container>
            
        </div>
        
    </div>

    <!-- Content -->
    <div class="flex flex-col flex-auto overflow-y-auto" cdkScrollable>
        <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
        <router-outlet *ngIf="true"></router-outlet>
    </div>

    <!-- Footer -->
    <div
        class="relative flex flex-0 items-center justify-start w-full h-14 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden">
        <span class="font-medium text-secondary">Fuse &copy; {{currentYear}}</span>
    </div>

</div>